.form {
  &--login,
  &--reset {
    background: $white;
    padding: 30px 0 26px;
    height: 100%;
    box-sizing: border-box;
    @include media-breakpoint-up(lg) {
      position: absolute;
      border-radius: 6px;
      box-shadow: 0 20px 90px -30px rgba($black, 0.25);
      padding-right: 24px;
      padding-left: 24px;

      .es6number & {
        backface-visibility: hidden;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 20px 16px;
      border-radius: 6px;
      box-shadow: 0 5px 30px -10px rgba($black, 0.25);
    }

    p {
      margin: 0 0 16px;
    }
  }

  &--login {
    @include media-breakpoint-down(md) {
      position: relative;
      z-index: 1;
    }
  }

  &--reset {

    @include media-breakpoint-up(lg) {
      .es6number & {
        transform: rotateY(180deg);
      }

      .no-es6number & {
        opacity: 0;
        z-index: -1;
      }
    }
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }

    br {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.form-control {
  font-family: inherit;
  font-size: inherit;
  line-height: lh(11.1, 18);
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  color: $gray;
  border: none;
  border-radius: 3px;
  padding: 10px 9px;
  margin: 0 0 12px;
  background-color: rgba($gray-light-2, 0.25);
  width: 100%;
  min-height: 38px;
  border-radius: 3px;

  &::placeholder {
    color: $gray-light-2;
  }
}
