.page {
  &--login {
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %bg-login;
    background-color: $gray-light-1;
    @include media-breakpoint-up(lg) {
      background-image: none;
    }
    @include media-breakpoint-down(sm) {
      background-image: none;
      align-items: flex-start;
    }

    .main {
      display: flex;
      width: 100%;
      max-width: 800px;
      align-items: center;
      box-sizing: border-box;
      @include media-breakpoint-down(lg) {
        padding: 0 36px;
      }
      @include media-breakpoint-down(md) {
        margin: 0 52px;
        padding: 24px;
        background-color: $white;
        width: calc(100% - 104px);
        border-radius: 6px;
        box-shadow: 0 20px 90px -30px rgba($black, 0.25);
      }
      @include media-breakpoint-down(sm) {
        margin: 12px;
        background: none;
        box-shadow: none;
        padding: 0;
        width: calc(100% - 24px);
        flex-wrap: wrap;
      }
    }
  }
}

.logo {
  display: block;
  max-width: 98px;
  margin: 0 0 36px;

  img {
    max-width: 100%;
  }
}

.block {
  &--info,
  &--login {
    width: 50%;
    flex-shrink: 0;
    box-sizing: border-box;
    @include media-breakpoint-down(lg) {
      padding: 0 46px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &--info {
    @include media-breakpoint-down(md) {
      padding: 0 16px 0 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 0 16px;
    }

    h1 {
      @include media-breakpoint-down(md) {
        br {
          display: none;
        }
      }
    }
  }

  &--login {
    position: relative;
    z-index: 1;
    @include media-breakpoint-down(md) {
      padding: 0 0 0 16px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 482px;
      height: 566px;
      z-index: -1;
      top: 50%;
      left: 50%;
      @extend %bg-login;
      @include center();
      @include media-breakpoint-down(lg) {
        width: 482px;
        height: 566px;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}
